
# Lists
In Python lists are written with square brackets.

Important properties of lists
Can store different data types
Duplicate values are allowed
Order is retained
Indexing and slicing is possible
Mutable

In [22]:
list1 = [1,2,3,4.5,5.5,"maths","python",True,False]
list1

[1, 2, 3, 4.5, 5.5, 'maths', 'python', True, False]

In [23]:
list2 = [1,2,3,4,5,1,1]
list2

[1, 2, 3, 4, 5, 1, 1]

In [24]:
# check the type using type()
type(list2)

list

In [25]:

# to check the length of the lists
len(list1)

9


# Indexing
Indexing starts from 0(zero). Very much similar to what we have learnt in our previous class

In [26]:
# to get the first element
list1 = [1,2,3,4,5,6,7,8,9]
list1[0]

1

In [27]:
# to get the third element
list1[2]

3

In [28]:
# to get the last element
list1[8]

9

# slicing

In [ ]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [29]:
# to get first 5 elements 
list1[:5]

[1, 2, 3, 4, 5]

In [30]:
# to get last 5 elements 
list1[-5:]

[5, 6, 7, 8, 9]

In [31]:
# to get alternate elements 
list1 = [1,2,3,4,5,6,7,8,9]
list1[::2]

[1, 3, 5, 7, 9]

In [32]:
# to get every 3rd element from the starting position
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list1[::3]

[1, 4, 7]

# mutable

In [34]:
# to change the first value
list1[0] = 100
list1

[100, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
# similarly you can change any values based on index position
list1[2] = 300
list1

[100, 2, 300, 4, 5, 6, 7, 8, 9]

In [ ]:
#some inbuilt methods

In [37]:
# my_list
my_list = [1,2,3,True]
my_list

[1, 2, 3, True]

In [ ]:
#1) .append(val)
appends the value at the end of the list

In [38]:
my_list.append("Python")
print(my_list)

[1, 2, 3, True, 'Python']

In [39]:
my_list.append("ML")
print(my_list)

[1, 2, 3, True, 'Python', 'ML']

In [ ]:

#2) insert(pos,element)
inserts the element at the specified index

In [41]:

# to insert value 4 after 3
my_list.insert(3,4)
my_list

[1, 2, 3, 4, 4, True, 'Python', 'ML']

In [42]:
# to insert value False after True
my_list.insert(0,False)
my_list

[False, 1, 2, 3, 4, 4, True, 'Python', 'ML']


copying the lists
1) my_list_copy = my_list

2) my_list_copy = my_list.copy()

In [43]:
my_list

[False, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [44]:
my_list_copy = my_list
print(my_list)
print(my_list_copy)

[False, 1, 2, 3, 4, 4, True, 'Python', 'ML']
[False, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [45]:
my_list_copy = my_list.copy()
print(my_list)
print(my_list_copy)

[False, 1, 2, 3, 4, 4, True, 'Python', 'ML']
[False, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [ ]:
#Problem with assignment (=)

In [46]:
my_list_copy = my_list
print(my_list)

[False, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [47]:
print(my_list_copy)

[False, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [49]:
my_list_copy[0] = 100
my_list_copy

[100, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [ ]:
#Note: original list is also getting modified

In [50]:
my_list

[100, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [ ]:
#3) .copy()

In [51]:
my_list_copy = my_list.copy()
print(my_list)

[100, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [52]:
my_list_copy

[100, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [54]:
my_list_copy[0] = 0
my_list_copy

[0, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [ ]:
#Note: Original list is not getting modified

In [55]:
my_list

[100, 1, 2, 3, 4, 4, True, 'Python', 'ML']

In [ ]:
#4) .extend()
#syntax ----> list1.extend(list2)

In [56]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list3 = [True,False]

list1.extend(list2)
list1.extend(list3)
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', True, False]

In [ ]:
#5) .pop(index)
#removes the element from specified index and returns the element

In [57]:
list1 = [1,2,3,4,5,6,7,8,9]
rem = list1.pop(2)

print(rem)

3

In [58]:

list1

[1, 2, 4, 5, 6, 7, 8, 9]

In [ ]:
task-3
go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

Exercises on List

In [59]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [60]:
#to access element 1
list1[0][0]

1

In [61]:
#to access elemnt 5
list1[1][1]

5

In [62]:
#to access 8
list1[2][1]

8

In [63]:
list2 = [1,2,[3,4,5,6,[7,8,9]]]
list2

[1, 2, [3, 4, 5, 6, [7, 8, 9]]]

In [64]:
list2[1]

2

In [65]:
#to access element 4
list2[2][1]

4

In [66]:
#to access elements 7,8,9
list2[2][4]

[7, 8, 9]

In [67]:
#to access element 9
list2[2][4][2]

9

In [68]:
#to access 3,4,5,6
list2[2][:4]

[3, 4, 5, 6]

In [ ]:
Task-4
2 problems!

In [ ]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [ ]:
#add sublist [7,8]
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]